PORT=5000
HOST=http://localhost:5000
UPLOAD_PATH=public/uploads
NODE_ENV=development

# PostgreSQL Configuration
DB_USER=postgres
DB_HOST=localhost
DB_NAME=ukebackend
DB_PASSWORD=KAVAks@528257
DB_PORT=5432